<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="日本人へのTOEFL指導歴豊かな講師陣の コーチング型TOEFLスクール"
    />
    <meta name="robots" content="noindex" />
    <title>Engress</title>
  </head>
  <body>
    <header class="l-header">
      <div class="l-header__inner">
        <div class="l-header__left">
            <h1 class="l-header__logo">
              <a href=""
                ><img src="../images/logo (2).png" alt="" class="header__logo-img"
              /></a>
            </h1>
            <nav class="l-header__gnav">
              <a href="" class="l-header__gnav__item">ホーム</a>
              <a href="" class="l-header__gnav__item">お知らせ</a>
              <a href="" class="l-header__gnav__item">ブログ</a>
              <a href="" class="l-header__gnav__item">コース・料金</a>
            </nav><!-- /.c-gnav -->
        </div><!-- /.l-header__left -->
        <div class="l-header__right">
            <div class="l-header__info">
              <p class="l-header__info__time">平日08:00〜20:00</p>
              <div class="c-tel">
                <img src="../images/パス 29.png" alt="" class="c-tel__logo" />
                <p class="c-tel__number">0123-456-7890</p>
              </div>
            </div><!-- /.l-header__info -->
            <a href="" type="button" class="c-btn__doc-request c-btn__doc-request--header">資料請求</a>
            <a href="" type="button" class="c-btn__contact">お問い合わせ</a>
        </div> <!-- /.l-header__right -->
      </div>
      <!-- /.l-header__inner -->
    </header>
    <section class="l-fv">
      <h2 class="l-fv__main-copy">TOEFL対策はEngress</h2>
      <p class="l-fv__sub-copy">日本人へのTOEFL指導歴豊かな講師陣の<br>コーチング型TOEFLスクール</p>
      <a href="" type="button" class="c-btn__doc-request c-btn__doc-request--fv">資料請求</a>
      <a href="" class="l-fv__contact">お問い合わせ</a>
    </section><!-- /.l-fv -->
    <section class="l-fv-content">
      <div class="l-fv-content__inner">
        <h3 class="l-fv-content__ttl">TOEFL学習でこんな悩みありませんか？</h3>
        <div class="l-fv-content__txt">
          <p>勉強の習慣が<br>身についていない</p>
          <p>勉強しているはず<br>なのに点数が伸びない</p>
          <p>正しい勉強方法が<br>わからない</p>
        </div>
        <article class="l-fv-content__box">
          <div class="l-fv-content__box__border">
            <h3 class="l-fv-content__box__ttl">Engressは<br><span class="u-underLine">TOEFLに特化したスクール</span>です</h3>
            <p class="l-fv-content__box__txt">完全オーダーメイドで、１人１人の悩みに合わせた最適な指導で<br>TOEFLの苦手分野を克服します。</p>
          </div>
        </article>
      </div><!-- /.l-fv__inner -->
    </section><!-- /.fv-content -->
    <section class="l-features">
      <h2 class="l-features__ttl">TOEFL対策に特化したEngress3つの強み</h2>
      <div class="l-features__inner">
        <article class="l-features__media u--reverse">
            <img src="../images/feature01.png" class="l-features__media__thumb" alt="">
          <div class="l-features__media__body">
            <p class="l-features__media__label">特長 １</p>
            <h3 class="l-features__media__ttl">TOEFLに最適化された<br>無駄のないカリキュラム</h3>
            <p class="l-features__media__txt">TOEFLではビジネス英語には登場しない数多くの学術的内容が出題されます。そのため、ベースとなる知識も必要になります。Engressでは過去1000題を分析し、最適なカリキュラムを組んでいます。</p>
          </div>
        </article>
        <article class="l-features__media">
            <img src="../images/feature02.png" class="l-features__media__thumb" alt="">
          <div class="l-features__media__body u--mg-right">
            <p class="l-features__media__label">特長 ２</p>
            <h3 class="l-features__media__ttl">日本人指導歴10年以上の<br>経験豊富な講師陣</h3>
            <p class="l-features__media__txt">Engressの講師陣は、もともと日本人向けにTOEFLを教えていた人が大多数です。また全メンバーがTESOL(英語教授法)を取得しており、知識と経験を兼ね備えている教育のプロフェッショナルです。</p>
          </div>
        </article>
        <article class="l-features__media u--reverse">
            <img src="../images/feature03.png" class="l-features__media__thumb" alt="">
          <div class="l-features__media__body">
            <p class="l-features__media__label">特長 ３</p>
            <h3 class="l-features__media__ttl">平均3ヶ月でTOEFL<br>iBT20点アップ</h3>
            <p class="l-features__media__txt">Engressは高校生からサラリーマンまで様々な年齢層の方々が通われていますが、完全オーダーメイドのカリキュラムで柔軟に対応しているため、平均3ヶ月でTOEFLスコアを20点アップさせています。</p>
          </div>
        </article>
        <div class="l-features__to-price">
          <h4 class="l-features__to-price__copy">Engressの料金プランはこちら</h4>
          <a href="" class="c-btn__to-price">料金を見てみる</a>
        </div>
        <!-- /.l-featers__to-plan -->
      </div><!-- /.l-features__inner -->
    </section><!-- /.l-features -->
    <section class="l-success-case">
      <h2 class="l-success-case__ttl">TOEFL成功事例</h2>
      <div class="l-success-case__inner">
        
      </div>
      <!-- /.l-success-case__inner -->
    </section>
    <!-- /.l-success-case -->
  </body>
</html>
