<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="日本人へのTOEFL指導歴豊かな講師陣の コーチング型TOEFLスクール"
    />
    <meta name="robots" content="noindex" />
    <title>Engress</title>
  </head>
  <body>
    <header class="l-header">
      <div class="l-header__inner">
        <div class="l-header__left">
            <h1 class="l-header__logo">
              <a href=""
                ><img src="../images/logo (2).png" alt="" class="header__logo-img"
              /></a>
            </h1>
            <nav class="l-header__gnav">
              <a href="" class="l-header__gnav__item">ホーム</a>
              <a href="" class="l-header__gnav__item">お知らせ</a>
              <a href="" class="l-header__gnav__item">ブログ</a>
              <a href="" class="l-header__gnav__item">コース・料金</a>
            </nav><!-- /.c-gnav -->
        </div><!-- /.l-header__left -->
        <div class="l-header__right">
            <div class="l-header__info">
              <p class="l-header__info__time">平日08:00〜20:00</p>
              <div class="c-tel">
                <img src="../images/パス 29.png" alt="" class="c-tel__logo" />
                <p class="c-tel__number">0123-456-7890</p>
              </div>
            </div><!-- /.l-header__info -->
            <a href="" type="button" class="c-btn__doc-request c-btn__doc-request--header">資料請求</a>
            <a href="" type="button" class="c-btn__contact">お問い合わせ</a>
        </div> <!-- /.l-header__right -->
      </div>
      <!-- /.l-header__inner -->
    </header>
    <section class="p-fv">
      <h2 class="p-fv__main-copy">TOEFL対策はEngress</h2>
      <p class="p-fv__sub-copy">日本人へのTOEFL指導歴豊かな講師陣の<br>コーチング型TOEFLスクール</p>
      <a href="" type="button" class="c-btn__doc-request c-btn__doc-request--fv">資料請求</a>
      <a href="" class="p-fv__contact">お問い合わせ</a>
    </section><!-- /.p-fv -->
    <section class="p-fv-content">
      <div class="p-fv-content__inner">
        <h3 class="p-fv-content__ttl">TOEFL学習でこんな悩みありませんか？</h3>
        <div class="p-fv-content__txt">
          <p>勉強の習慣が<br>身についていない</p>
          <p>勉強しているはず<br>なのに点数が伸びない</p>
          <p>正しい勉強方法が<br>わからない</p>
        </div>
        <article class="p-fv-content__box">
          <div class="p-fv-content__box__border">
            <h3 class="p-fv-content__box__ttl">Engressは<br><span class="u-underLine">TOEFLに特化したスクール</span>です</h3>
            <p class="p-fv-content__box__txt">完全オーダーメイドで、１人１人の悩みに合わせた最適な指導で<br>TOEFLの苦手分野を克服します。</p>
          </div>
        </article>
      </div><!-- /.p-fv__inner -->
    </section><!-- /.fv-content -->
    <section class="p-features">
      <h2 class="p-features__ttl">TOEFL対策に特化したEngress3つの強み</h2>
      <div class="p-features__inner">
        <article class="p-features__media u--reverse">
            <img src="../images/feature01.png" class="p-features__media__thumb" alt="">
          <div class="p-features__media__body">
            <p class="p-features__media__label">特長 １</p>
            <h3 class="p-features__media__ttl">TOEFLに最適化された<br>無駄のないカリキュラム</h3>
            <p class="p-features__media__txt">TOEFLではビジネス英語には登場しない数多くの学術的内容が出題されます。そのため、ベースとなる知識も必要になります。Engressでは過去1000題を分析し、最適なカリキュラムを組んでいます。</p>
          </div>
        </article>
        <article class="p-features__media">
            <img src="../images/feature02.png" class="p-features__media__thumb" alt="">
          <div class="p-features__media__body u--mg-right">
            <p class="p-features__media__label">特長 ２</p>
            <h3 class="p-features__media__ttl">日本人指導歴10年以上の<br>経験豊富な講師陣</h3>
            <p class="p-features__media__txt">Engressの講師陣は、もともと日本人向けにTOEFLを教えていた人が大多数です。また全メンバーがTESOL(英語教授法)を取得しており、知識と経験を兼ね備えている教育のプロフェッショナルです。</p>
          </div>
        </article>
        <article class="p-features__media u--reverse">
            <img src="../images/feature03.png" class="p-features__media__thumb" alt="">
          <div class="p-features__media__body">
            <p class="p-features__media__label">特長 ３</p>
            <h3 class="p-features__media__ttl">平均3ヶ月でTOEFL<br>iBT20点アップ</h3>
            <p class="p-features__media__txt">Engressは高校生からサラリーマンまで様々な年齢層の方々が通われていますが、完全オーダーメイドのカリキュラムで柔軟に対応しているため、平均3ヶ月でTOEFLスコアを20点アップさせています。</p>
          </div>
        </article>
        <div class="p-features__to-price">
          <h4 class="p-features__to-price__copy">Engressの料金プランはこちら</h4>
          <a href="" class="c-btn__to-price">料金を見てみる</a>
        </div>
        <!-- /.p-featers__to-plan -->
      </div><!-- /.p-features__inner -->
    </section><!-- /.p-features -->
    <section class="p-success-case">
      <h2 class="p-success-case__ttl">TOEFL成功事例</h2>
      <div class="p-success-case__inner">
        <div class="p-success-case__wrapper">
          <div class="p-success-case__card">
            <h4 class="p-success-case__card__ttl">TOEFL iBT 100点を突破してコロンビア大学大学院に進学できました！</h4>
            <figure class="p-success-case__card__img">
              <img src="../images/model01.png" alt="" class="p-success-case__card__model">
            </figure>
            <div class="p-success-case__card__body">
              <p class="p-success-case__card__status">会社員</p>
              <p class="p-success-case__card__name">T.Fujiyamaさん</p>
            </div>
            <p class="p-success-case__card__txt">3ヶ月でTOEFL80→108点</p>
          </div>
          <div class="p-success-case__card">
            <h4 class="p-success-case__card__ttl">半年でTOEFL 40点→100点を達成！コロンビア大学大学院に合格</h4>
            <figure class="p-success-case__card__img">
              <img src="../images/model02.png" alt="" class="p-success-case__card__model">
            </figure>
            <div class="p-success-case__card__body">
              <p class="p-success-case__card__status">大学生</p>
              <p class="p-success-case__card__name">Y.Takiyamaさん</p>
            </div>
            <p class="p-success-case__card__txt">6ヶ月でTOEFL40→100点</p>
          </div>
          <div class="p-success-case__card">
            <h4 class="p-success-case__card__ttl">早稲田大学 国際教養学部AO入試合格！TOEFL iBT 109点</h4>
            <figure class="p-success-case__card__img">
              <img src="../images/model03.png" alt="" class="p-success-case__card__model">
            </figure>
            <div class="p-success-case__card__body">
              <p class="p-success-case__card__status">高校生</p>
              <p class="p-success-case__card__name">M.Yamadaさん</p>
            </div>
            <p class="p-success-case__card__txt">5ヶ月でTOEFL68→109点</p>
          </div>
        </div><!-- /.p-success-case__wrapper -->
      </div><!-- /.p-success-case__inner -->
    </section><!-- /.p-success-case -->
    <section class="p-flow">
      <h2 class="p-flow__ttl">ご利用の流れ</h2>
        <div class="p-flow__inner">
          <dl class="p-flow__box">
            <p class="p-flow__box__number">01</p>
            <div class="p-flow__box__boader"></div>
            <dt class="p-flow__box__ttl">お問い合わせ</dt>
            <dd class="p-flow__box__txt">まずはフォームまたはお電話からお申し込みください。</dd>
          </dl>
          <dl class="p-flow__box">
            <p class="p-flow__box__number">02</p>
            <div class="p-flow__box__boader"></div>
            <dt class="p-flow__box__ttl">ヒアリング</dt>
            <dd class="p-flow__box__txt">現在の学習状況やTOEFLスコア、目標のスコアをお聞きします。</dd>
          </dl>
          <dl class="p-flow__box">
            <p class="p-flow__box__number">03</p>
            <div class="p-flow__box__boader"></div>
            <dt class="p-flow__box__ttl">学習プランのご提供</dt>
            <dd class="p-flow__box__txt">目標達成のために最適な学習プランをご提案致します。</dd>
          </dl>
          <dl class="p-flow__box">
            <p class="p-flow__box__number">04</p>
            <div class="p-flow__box__boader"></div>
            <dt class="p-flow__box__ttl">ご入会</dt>
            <dd class="p-flow__box__txt">お申込み完了後、レッスンがスタートします。</dd>
          </dl>
      </div><!-- /.l-flow__box -->
    </section><!-- /.l-flow -->
    <section class="p-faq">
      <h2 class="p-faq__ttl">よくある質問</h2>
      <div class="p-faq__inner">
        <dl class="p-faq__content">
          <dt class="p-faq__content__ttl"><button class="p-faq__content__btn">Engressはサラリーマンでも学習を続けられるでしょうか？<span class="c-close c-open"></span></button></dt>
          <dd class="p-faq__content__body --open">
            <p class="p-faq__content__txt">Engressは各個人に最適な学習プランをご提供しております。サラリーマンの方でも継続できます。</p>
          </dd>
        </dl>
        <dl class="p-faq__content">
          <dt class="p-faq__content__ttl"><button class="p-faq__content__btn">教材はオリジナルのものを使用しているのでしょうか？<span class="c-close"></span></button></dt>
          <dd class="p-faq__content__body">
            <p class="p-faq__content__txt">Engressは各個人に最適な学習プランをご提供しております。サラリーマンの方でも継続できます。</p>
          </dd>
        </dl>
        <dl class="p-faq__content">
          <dt class="p-faq__content__ttl"><button class="p-faq__content__btn">講師に日本人はいますか？<span class="c-close"></span></button></dt>
          <dd class="p-faq__content__body">
            <p class="p-faq__content__txt">Engressは各個人に最適な学習プランをご提供しております。サラリーマンの方でも継続できます。</p>
          </dd>
        </dl>
        <dl class="p-faq__content">
          <dt class="p-faq__content__ttl"><button class="p-faq__content__btn">TOEFL以外の海外大学合格のサポートもしてもらえるのでしょうか？<span class="c-close"></span></button></dt>
          <dd class="p-faq__content__body">
            <p class="p-faq__content__txt">Engressは各個人に最適な学習プランをご提供しております。サラリーマンの方でも継続できます。</p>
          </dd>
        </dl>
      </div><!-- /.p-question__inner -->
    </section><!-- /.question -->
    <section class="p-blog-info">
      <div class="p-blog-info__inner">
        <div class="p-blog-info__blog">
          <h2 class="p-blog-info__blog__ttl">ブログ</h2>
        </div><!-- /.p-blog-info__blog -->
        <div class="p-blog-info__info">
          <h2 class="p-blog-info__info__ttl">お知らせ</h2>

        </div><!-- /.p-blog-info__info -->
      </div><!-- /.p-blog-info__inner -->
    </section><!-- /.blog-info -->
    <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"
  ></script>
  </body>
</html>
