@use "../../foundation/foundation" as *;

.c-btn{
    &__doc-request{
        background-color: $cOrange;
        color: $cWhite;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        &--header{
            border-radius: 5px;
            width: 142px;
            height: 50px;
            font-size: 14px;
            padding-top: 18px;
            margin-left: 23px;
            @include responsive(md){
                width: 50%;
                margin-left: 0;
                margin-bottom: 20px;
                margin-top: 40px;
                height: 40px;
                padding-top: 1.1em;
                font-size: .8em;
            }
        }
        &--fv{
            border-radius: 31px;
            width: 260px;
            height: 60px;
            font-size: 16px;
            padding: 22px;
            @include responsive(sm){
                width: 40vw;
                height: 2.78em;
                font-size: .9em;
                padding: .9em;
            }
        }
        &--cta{
            border-radius: 25px;
            width: 280px;
            height: 50px;
            font-size: 16px;
            padding: 16px;
            @include responsive(sm){
                width: 40vw;
                height: 2.78em;
                font-size: .9em;
                padding: .9em;
            }
        }
    }
    &__contact{
        display: inline-block;
        background-color: $cAppearance;
        width: 137px;
        height: 50px;
        margin-left: 10px;
        border-radius: 5px;
        color: $cWhite;
        text-align: center;
        padding-top: 18px;
        font-size: 14px;
        font-weight: bold;
        @include responsive(md){
            width: 50%;
            margin: 0;
            text-align: center;
            height: 40px;
            padding-top: 1.1em;
            font-size: .8em;
        }
        &--form{
            display: block;
            background-color: $cAppearance;
            width: 200px;
            height: 50px;
            border-radius: 5px;
            color: $cWhite;
            text-align: center;
            font-size: 1em;
            font-weight: bold;
            margin: 0 auto;
        }
    }
    &__to-price{
        color: $cWhite;
        border-radius: 30px;
        border: 1px solid $cWhite;
        width: 200px;
        height: 50px;
        display: inline-block;
        padding-top: 16px;
        @include responsive(sm){
            height: 3em;
            width: 35vw;
            padding-top: .9em;
            font-size: .8em;
        }
    }
}
