@use "../../foundation/foundation" as *;

.c-tel {
    display: flex;
    align-items: center;
    width: 132px;
    @include responsive(md){
        margin: 0 auto;
    }

    &--footer{
        display: flex;
        align-items: center;
        width: 132px;
        margin-left: auto;
    }
    &__number{
        font-size: 16px;
        font-weight: bold;
        margin-left: 5px;
        &--white{
            color: $cWhite;
            font-size: 16px;
            font-weight: bold;
            margin-left: 7px;
        }
    }
}
