@use "../foundation/foundation" as *;

.l-contact-completely{
    padding-top: 83px;
    padding-bottom: 80px;
    text-align: center;
    &__txt{
        font-weight: 500;
        line-height: 1.6875em;
        @include responsive(sm){
            font-size: .9em;
        }
    }
    &__to-home{
        text-decoration: underline;
        display: inline-block;
        color: $cAppearance;
        font-weight: 500;
        margin-top: 83px;
        @include responsive(sm){
            font-size: .9em;
        }
    }
}
