@use "../foundation/foundation" as *;
@use "../object/object" as *;

// mv
.l-fv{
    background-image: url(../images/fv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 476px;
    padding-top: 116px;
    text-align: center;
    margin-top: 80px;
    @include responsive(ms){
        background-position-x: -460px;
        margin-top: 60px;
    }
    @include responsive(sm){
        padding-top: 60px;
        height: 400px;
    }
    &__main-copy{
        color: $cWhite;
        font-size: 48px;
        text-align: center;
        margin-bottom: 28px;
        @include responsive(ms){
            font-size: 2.25em;
        }
    }
    &__sub-copy{
        color: $cWhite;
        font-size: 18px;
        text-align: center;
        line-height: 31px;
        font-weight: 500;
        margin-bottom: 51px;
        @include responsive(ms){
            font-size: .9em;
        }
    }
    &__contact{
        display: block;
        color: $cWhite;
        text-decoration: underline;
        margin-top: 22px;
        font-weight: 500;
    }
    &-content{
        min-height: 604px;
        background-color: $cAppearance;
        padding-top: 63px;
        padding-bottom: 54px;
        &__ttl{
            color: $cWhite;
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 65px;
            @include responsive--min(ms){
                br{
                    display: none;
                }
            }
            @include responsive(ms){
                font-size: 1.75em;
                margin-bottom: 30px;
            }
        }
        &__txt{
            display: flex;
            justify-content: center;
            line-height: 39px;
            @include responsive(ms){
                flex-direction: column;
                font-size: .9em;
                br{
                    display: none;
                }
            }
            >p {
                color: $cWhite;
                margin-right: 30px;
                text-align: center;
                font-size: 18px;
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(1){
                    margin-right: 57px;
                }
                @include responsive(ms){
                    font-size: 1em;
                }
            }

        }
        &__inner{
            max-width: 920px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0 auto;
        }
        &__box {
            background-color: $cWhite;
            height: 248px;
            padding: 11px 16px 12px;
            color: $cAppearance;
            text-align: center;
            margin-top: 62px;
            @include responsive(ms){
                margin-top: 30px;
            }
            @include responsive(sm){
                min-height: 258px;
            }
            &__border{
                border: 5px solid $cAppearance;
                height: 100%;
                padding-top: 16px;
                padding-bottom: 19px;
                padding-left: 10px;
                padding-right: 10px;
            }
            &__ttl{
                font-size: 36px;
                font-weight: bold;
                line-height: 50px;
                @include responsive(ms){
                    font-size: 1.8em;
                }
                @include responsive(sm){
                    font-size: 1.5em;
                    span {
                           margin: 0 auto;
                    }
                }
            }
            &__txt{
                margin-top: 25px;
                font-size: 18px;
                font-weight: 500;
                line-height: 31px;
                @include responsive(ms){
                    font-size: 1em;
                    margin-top: 10px;
                    line-height: 25px;
                }
                @include responsive(sm){
                    font-size: .9em;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}

// 3つの強み
.l-features{
    padding-top: 59px;
    &__ttl {
        font-size: 1.75em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 59px;
        @include responsive--min(sm){
            font-size: 36px;
            br {
                display: none;
            }
        }
    }
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }
    &__media{
        display: flex;
        margin-bottom: 60px;
        @include responsive(ms){
            flex-direction: column;
        }
        &:nth-child(1){
            @include responsive(ms){
                background-image: url(../images/feature01.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &:nth-child(2){
            @include responsive(ms){
                background-image: url(../images/feature02.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &:nth-child(3){
            @include responsive(ms){
                background-image: url(../images/feature03.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &:last-of-type{
            margin-bottom: 93px;
        }
        &__thumb{
            max-width: 350px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include responsive(ms){
                display: none;
            }
        }
        &__body{
            max-width: 500px;
            margin-right: 50px;
            @include responsive(ms){
                // padding-bottom: 20px;
                margin-right: 0;
                max-width: 100%;
                position: relative;
            }

        }
        &__label{
            background-color: $cOrange;
            width: 90px;
            height: 30px;
            color: $cWhite;
            text-align: center;
            display: block;
            font-size: 12px;
            padding-top: 8px;
            font-weight: 500;
            @include responsive(ms){
                position: absolute;
                z-index: 5;
            }
        }
        &__ttl {
            font-size: 26px;
            font-weight: bold;
            color: $cAppearance;
            margin-top: 24px;
            line-height: 39px;
            @include responsive(ms){
                padding-top: 44px;
                padding-bottom: 20px;
                margin-top: 0;
                text-align: center;
                background-color: $cBgGray;
                opacity: .8;
                border: none;
            }
            @include responsive--min(ms){
                :last-child{
                    br {
                        display: none;
                    }
                }
            }
            @include responsive(sm){
                font-size: 1.375em;
                line-height: 35px;
            }
        }
        &__txt{
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
            margin-top: 30px;
            color: $cAppearance;
            @include responsive(ms){
                // color: $cWhite;
                text-align: center;
                padding-left: 10%;
                padding-right: 10%;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-top: 0;
                background-color: $cBgGray;
                opacity: .9;
                border: none;
            }
            @include responsive(sm){
                font-size: .9em;
                line-height: 24px;
            }
        }
    }
    &__to-price{
        background-image: url(../images/price.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 217px;
        text-align: center;
        padding-top: 61px;
        margin-bottom: 39px;
        border: 1px solid $cGray;
        &__copy{
            color: $cWhite;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 27px;
            @include responsive(sm){
                font-size: 1.375em;
            }
        }
    }
}

// 成功事例
.l-success-case{
    background-color: $cAppearance;
    min-height: 608px;
    padding-top: 58px;
    padding-bottom: 60px;
    &__ttl{
        color: $cWhite;
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 137px;
        @include responsive(ms){
            font-size: 1.75em;
            margin-bottom: 70px;
        }
    }
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        @include responsive(md){
            max-width: 610px;
            justify-content: center;
        }
        @include responsive(sm){
            // max-width: 300px;
        }
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;

        :nth-child(3n){
            margin-right: 0;
        }
        @include responsive(md){
            :nth-child(2n){
                margin-right: 0;
            }
        }
        @include responsive(ms){
            justify-content: center;
        }
    }
    &__card{
        width: 280px;
        margin-right: 30px;
        @include responsive(md){
            margin-bottom: 30px;
            justify-content: center;
        }
        @include responsive(sm){
            margin-right: 0;
        }
        p {
            color: $cAppearance;
            background-color: $cWhite;
            font-weight: 500;
            height: 2em;
            padding-top: 8px;
            padding-left: 14px;
            @include responsive(sm){
                font-size: .9em;
            }
        }
        &__ttl{
            color: $cWhite;
            line-height: 29px;
            margin-bottom: 9px;
            @include responsive(sm){
                font-size: .9em;
                line-height: 25px;
            }
        }
        &__img{
            background-color: $cWhite;
            height: 171px;
            position: relative;
            margin-bottom: 16px;
        }
        &__model{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
        &__body{
            width: 100%;
            display: flex;
        }
        &__status{
            // display: inline-block;
            width: 35.7%;
            margin-right: 2.8%;
            padding-left: 10px;
        }
        &__name{
            // display: inline-block;
            width: 61.4%;
            margin-right: 0;
        }
        &__txt{
            display: block;
            margin-top: 10px;
        }
    }
}

// ご利用の流れ

.l-flow{
    padding-top: 58px;
    padding-bottom: 75px;
    &__ttl{
        color: $cAppearance;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 53px;
        @include responsive(ms){
            font-size: 1.75em;
        }
    }
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }
    &__box{
        display: flex;
        width: 100%;
        min-height: 64px;
        background-color: $cBgGray;
        position: relative;
        margin-bottom: 8px;
        @include responsive(ms){
            height: auto;
        }
        :last-of-type{
            margin-bottom: 0;
        }
        &__number{
            width: 64px;
            background-color: $cOrange;
            color: $cWhite;
            padding-top: 24px;
            text-align: center;
            @include responsive(sm){
                width: 32px;
                font-size: .9em;
            }
        }
        &__ttl{
            width: 23.8%;
            margin-left: 2.33%;
            margin-top: 25px;
            color: $cAppearance;
            @include responsive(ms){
                margin-top: 1.2em;
                margin-left: 1%;
                margin-right: 1%;
                font-size: .9em;
            }
            @include responsive(sm){

            }
        }
        &__boader{
            height: 29.3px;
            width: 1px;
            background-color: $cBdGray;
            position: absolute;
            left: 31.1%;
            top: 26.3%;
            @include responsive(ms){
                left: 32%;
            }
        }
        &__txt{
            width: 68.9%;
            margin-top: 25px;
            margin-left: 5.94%;
            color: $cAppearance;
            @include responsive(ms){
                margin-top: 1.2em;
                margin-left: 3%;
                margin-right: 2%;
                font-size: .9em;
            }
            @include responsive(sm){
            }
        }
    }
}

// よくある質問

.l-faq{
    padding-bottom: 90.24px;
    &__ttl{
        color: $cAppearance;
        font-size: 36px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 32.5px;
        @include responsive(ms){
            font-size: 1.75em;
        }
    }
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }
    &__content{
        border-top: 1px solid $cAppearance;
        padding-bottom: 8.5px;
        &:last-child{
            border-bottom: 1px solid $cAppearance;
        }
        &__ttl{
            font-weight: 500;
            height: 64.5px;
            color: $cAppearance;
            @include responsive(ms){
                height: 60px;
            }
        }
        &__btn{
            padding-top: 6.75px;
            height: 100%;
            width: 100%;
            position: relative;
            cursor: pointer;
            @include responsive(ms){
                padding-right: 60px;
                font-size: .9em;
            }
        }
        &__body{
            height: 65px;
            padding-top: 23px;
            padding-left: 26px;
            background-color: $cBgGray;
            &:not(.--open){
            display: none;
            }
            @include responsive(sm){
                padding-top: 1em;
                height: 60px;
                padding-right: 1%;
            }
        }
        &__txt{
            font-weight: 500;
            @include responsive(ms){
                font-size: .9em;
            }
        }
    }
}

// ブログ&お知らせ

.l-blog-info{
    color: $cAppearance;
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
        display: flex;
        @include responsive(ms){
            flex-direction: column;
            justify-content: center;
        }
    }
    &__blog{
        width: 47.78%;
        margin-right: 7.4%;
        @include responsive(ms){
            width: 80%;
            margin: 0 auto;
        }
        @include responsive(sm){
            width: 90%;
        }
        &__ttl{
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 30px;
            @include responsive(ms){
                font-size: 1.75em;
                text-align: center;
            }
        }
        &__media{
            width: 100%;
            display: flex;
            position: relative;
            margin-bottom: 31px;
            &:last-child{
                margin-bottom: 0;
            }
            &-body{
                max-width: 260px;
                margin-left: 20px;
                position: relative;
                color: $cAppearance;
                text-decoration: underline;
                font-weight: bold;
                line-height: 27px;
                @include responsive(ms){
                    max-width: 400px;
                }
                >time {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1em;
                }
            }
            &-txt{
                @include responsive(sm){
                    font-size: .9em;
                }
            }
        }
    }
    &__info{
        width: 44.67%;
        @include responsive(ms){
            width: 80%;
            margin: 0 auto;
            margin-top: 90px;
        }
        @include responsive(sm){
            // width: 100%;
        }
        &__ttl{
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 30px;
            @include responsive(ms){
                font-size: 1.75em;
                text-align: center;
            }
        }
        &__media{
            width: 100%;
            height: 87px;
            margin-bottom: 17px;
            &:last-child{
                margin-bottom: 0;
            }
            &-txt {
                text-decoration: underline;
                display: block;
                font-weight: 500;
                margin-top: 16px;
            }
            >time {
                display: block;
                font-weight: 500;
                font-size: 12px;
                line-height: 1em;
        }
     }
    }

}
