@use "../foundation/foundation" as *;
@use "../object/object" as *;

.l-fv{
    background-image: url(../images/fv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 476px;
    padding-top: 116px;
    text-align: center;
    &__main-copy{
        color: $cWhite;
        font-size: 48px;
        text-align: center;
        margin-bottom: 28px;
    }
    &__sub-copy{
        color: $cWhite;
        font-size: 18px;
        text-align: center;
        line-height: 31px;
        font-weight: 500;
        margin-bottom: 51px;
    }
    &__contact{
        display: block;
        color: $cWhite;
        text-decoration: underline;
        margin-top: 22px;
        font-weight: 500;
    }
    &-content{
        min-height: 604px;
        background-color: $cAppearance;
        padding-top: 63px;
        padding-bottom: 54px;
        &__ttl{
            color: $cWhite;
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 65px;
        }
        &__txt{
            color: $cWhite;
            display: flex;
            justify-content: center;
            line-height: 39px;
            >p {
                margin-right: 30px;
                text-align: center;
                font-size: 18px;
                &:last-child{
                    margin-right: 0;
                }
                &:nth-child(1){
                    margin-right: 57px;
                }
            }
        }
        &__inner{
            max-width: 920px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0 auto;
        }
        &__box {
            background-color: $cWhite;
            height: 248px;
            padding: 11px 16px 12px;
            color: $cAppearance;
            text-align: center;
            margin-top: 62px;
            &__border{
                border: 5px solid $cBlack;
                height: 100%;
                padding-top: 16px;
                padding-bottom: 19px;
            }
            &__ttl{
                font-size: 36px;
                font-weight: bold;
                line-height: 50px;
            }
            &__txt{
                margin-top: 25px;
                font-size: 18px;
                font-weight: 500;
                line-height: 31px;
            }
        }
    }
}

.l-features{
    padding-top: 59px;
    &__ttl {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 59px;
    }
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
    }
    &__media{
        display: flex;
        // flex-direction: row-reverse;
        margin-bottom: 60px;
        &:last-of-type{
            margin-bottom: 93px;
        }
        &__thumb{
            max-width: 350px;
            width: 100%;
        }
        &__body{
            max-width: 500px;
            margin-right: 50px;
        }
        &__label{
            background-color: $cOrange;
            width: 90px;
            height: 30px;
            color: $cWhite;
            text-align: center;
            display: block;
            font-size: 12px;
            padding-top: 8px;
            font-weight: 500;
        }
        &__ttl {
            font-size: 26px;
            font-weight: bold;
            color: $cBlack;
            margin-top: 24px;
            line-height: 39px;
        }
        &__txt{
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
            margin-top: 30px;
        }
    }
    &__to-price{
        background-image: url(../images/price.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 217px;
        text-align: center;
        padding-top: 61px;
        margin-bottom: 39px;
        border: 1px solid $cGray;
        &__copy{
            color: $cWhite;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 27px;
        }
    }
}

.l-success-case{
    background-color: $cAppearance;
    min-height: 608px;
    padding-top: 58px;
    &__ttl{
        color: $cWhite;
        text-align: center;
        font-weight: bold;
        font-size: 36px;
    }
    &__inner{
        max-width: 920px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

